body{
   
background-image:url(../image/gifgenerator.jpeg);
 
}
button {	
	margin: 12px;
	display: inline;
}

#gif-form {
	color: red;
	margin: 50px;
}
h5{
	color: red;
}

#add-gif {
	margin-left: 15px;
}

#display-gifs {
	
	display: inline;

}